body{
  background: green;
}
h1{
  color:#8ccbbe;
}
p{
  color:red;
  font-size:50px;
  /* class selector */
}
.bacon {
  background-color: pink;
}
.circular{
  border-radius: 10px;
}
.mango {
  background-color: yellow;
}
/* id selector */
#heading{
  color: brown;
  font-size: 100px;
}
img:hover{
  background-color: gold;
}
