  body {
    background-color: teal;
  }

  hr {
    border-style: dotted none none;
    border-width: 2px;
    border-color: blue;
    height: 10px;
    width: 10%;
  }

  h1{
    color: red;
  }
  img{
    width: 20%;
  }
